{% load static %}
<html>
<head>
    <title>Room Genie List Ads</title>
    <script src="{% static 'js//jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script>
        //This script gets loaded once the page gets loaded
        $(document).ready(function () {
            //For enabling tooltip
            $('[data-toggle="tooltip"]').tooltip()
        });     
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row top-navbar">
            <div class="col-md-3">
                <span class="navbar-brand ">Room Genie</span>
            </div>
            <div class="col-md-9">
                <span class="navbar-brand float-right">Hello Moderator!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 submenu">
                <a class="left-menu" href="./index.html">Dashboard</a>
                <a class="left-menu" href="./ads.html">Ads</a>
                <a class="left-menu" href="./profile.html">Profile</a>
                <a class="left-menu" href="../login.html">Logout</a>
            </div>
            <div class="col-md-9">
                <div class="container-fluid">
                    {% for ad in ads %}
                    <div class="row ad">
                        <div class="col-md-3">
                            <img src="{{ad.image_url}}" class="img-fluid" alt="room preview">
                        </div>
                        <div class="col-md-6">
                            <span class="float-left">{{ ad.name }}</span>
                            <br/>
                            <span class="float-left">Price: {{ ad.price }}$</span>
                            <br/>
                            <span class="float-left">Area: {{ ad.area }}</span>
                        </div>
                        <div class="col-md-3 align-self-center">
                            <a style="vertical-align: middle;" class="btn btn-primary" href="ad-1.html"> View</a>
                        </div>                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row footer">
        <div class="col-sm-12 d-flex justify-content-center">Copyrights ROOMGENIE 2020</div>
    </div>
    </div>
</body>

</html>