{% load static %}
<html>

<head>
    <title>Room Genie ADMIN Admin Profile</title>
    <script src="{% static 'js//jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script>
        //This script gets loaded once the page gets loaded
        $(document).ready(function () {
            //For enabling tooltip
            $('[data-toggle="tooltip"]').tooltip()
        });     
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row top-navbar">
            <div class="col-md-3">
                <span class="navbar-brand ">Room Genie</span>
            </div>
            <div class="col-md-9">
                <span class="navbar-brand float-right">Hello Moderator!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 submenu">
                <a class="left-menu" href="/index">Dashboard</a>
                <a class="left-menu" href="/ads">Ads</a>
                <a class="left-menu" href="/profile">Profile</a>
                <a class="left-menu" href="./login">Logout</a>
            </div>
            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="row dashboard">
                        <div class="col-md-4">
                            <label class="float-left">UserName</label></div>
                        <div class="col-md-8">
                            <lable class="float-left">{{user.name}}</label>
                        </div>
                    </div>
                    <div class="row dashboard">
                        <div class="col-md-4">
                            <label class="float-left">Email</label></div>
                        <div class="col-md-8">
                            <lable class="float-left">{{user.email}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row footer">
        <div class="col-sm-12 d-flex justify-content-center">Copyrights ROOMGENIE 2020</div>
    </div>
    </div>
</body>

</html>